.jumbotron{
    background-image: url(d-compressed.jpg);
    background-size: 700px;
    background-repeat: no-repeat;
    background-position: center;


}
body{
    background-color: rgba(32, 178, 170,0.4);
}
